/* Reset e estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    height: auto; 
    position: relative;
}

/* Estilos do menu */
nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

@media (max-width: 480px) {
    .logo img {
        width: 60px; /* Reduz ainda mais o tamanho para telas muito pequenas */
        height: 60px; /* Mantenha o mesmo valor que a largura para ficar quadrado */
    }

    .caixa {
        width: 100%;
    }

    .funcionalidades .caixa {
        width: 100%;
    }

    .container {
        max-width: 100%; /* Garante que ocupe toda a largura da tela */
        padding: 10px; /* Menor padding em telas muito pequenas */
        margin: 5px; /* Menor margem em dispositivos muito pequenos */
    }

    input, select {
        padding: 8px; /* Menor padding */
    }

    button {
        font-size: 14px; /* Tamanho de fonte reduzido */
    }
}

/* Responsividade do menu */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .logo img {
        width: 80px; /* Reduz o tamanho para telas menores */
        height: 80px; /* Mantenha o mesmo valor que a largura para ficar quadrado */
    }

    nav ul {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 75px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        gap: 10px;
    }

    nav ul.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .container-main-image h1 {
        font-size: 2rem;
    }

    .caixa {
        width: calc(50% - 20px);
    }

    .funcionalidades .caixa {
        width: calc(50% - 20px);
    }

    .container {
        max-width: 100%; /* Garante que o formulário ocupe 100% da largura disponível */
        padding: 15px; /* Ajuste o padding */
        margin: 10px; /* Ajusta a margem */
    }

    input, select {
        padding: 10px; /* Ajuste o padding para telas médias */
        margin-bottom: 12px; /* Ajusta a margem entre os campos */
    }

    button {
        font-size: 14px; /* Ajuste o tamanho da fonte para telas menores */
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}

/* Estilo para a classe logo */
.logo img {
    width: 100px; /* Defina o tamanho desejado */
    height: 100px; /* Mantenha o mesmo valor que a largura para ficar quadrado */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorcer */
    border-radius: 8px; /* Opcional: Adiciona bordas arredondadas */
}



/* Seção principal */

.container-main {
    text-align: center;
    background-color: #26a65b;
    color: white;
    padding: 20px;
}

.container-main-image {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.container-main-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Mantém as imagens do mesmo tamanho */
}

.container-main-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


/* Seção de caixas */
.caixas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.caixaAlfa{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    color: #333;
    width: calc(33.33% - 20px);
    min-width: 280px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.caixa {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    color: #333;
    width: calc(33.33% - 20px);
    min-width: 280px;
    height: 350px; /* Mantém altura fixa */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.caixa img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Mantém tamanho das imagens */
    border-radius: 8px;
}

/* Seção de funcionalidades */
.funcionalidades {
    text-align: center;
    color: black;
    padding: 20px;
}

.funcionalidades .caixas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.funcionalidades .caixa {
    width: calc(33.33% - 20px);
    min-width: 280px;
}

/* Imagens responsivas */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Responsividade para seção "Sobre Nós" */
.about {
    text-align: center;
    color: black;
    padding: 10px 10px 50px 10px;
}

.about .caixa {
    width: 90%;
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

/* Formulário */
.container-calc{
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    gap: 20px; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    padding: 20px; /* Adiciona um padding interno */
}
.container {
    background-color: #fff;
    flex: 0 1 500px; /* Define uma largura máxima de 500px e permite que o item encolha */
    border-radius: 6px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.erro {
    border: 1px solid red; /* Adiciona uma borda vermelha ao campo com erro */
}

.mensagem-erro {
    color: red; /* Cor da mensagem de erro */
    font-size: 0.9em;
    margin-left: 10px;
    display: block; /* Garante que a mensagem apareça em uma nova linha */
}

#resultado{
    display: none;
    margin-top: 0;
}

#resultado span{
    padding: 1.5px;
    border-radius: 5px;
    color: white;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não cause overflow */
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box; /* Garante que o padding do botão não cause overflow */
}

/* Rodapé responsivo */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #9bea9b;
    text-align: center;
    padding: 10px;
}

footer .social img {
    width: 25px;
    margin: 0 10px;
}

footer a {
    color: #9bea9b;
}

footer p {
    margin: 0;
}

/* Estilo para as imagens dos parceiros */
.logos img {
    width: 100px; /* Defina o tamanho desejado */
    height: 100px; /* Mantenha o mesmo valor que a largura para ficar quadrado */
    object-fit:contain; /* Garante que a imagem preencha o espaço sem distorcer */
    border-radius: 8px; /* Opcional: Adiciona bordas arredondadas */
    margin: 10px; /* Espaçamento entre as imagens */
}
